.comments {
        background-color: sandybrown;
        border: 3px solid black;
        border-radius: 5px;
        max-width:750px;
}

form {
        background-color: white;
}

.addComment {
        color: grey;
        height: 100%;
        width: 100%;
        background-color: white;
        border-top: 1px solid lightgray;
        border-bottom: 0;
        border-right: 0;
        border-left: 0;
        margin-top: 0px;
        margin-bottom: 0;
        text-align: left;
}