.search {
    background-color: aqua;
    border: 3px solid black;
    border-radius: 5px;
    width:650px;
}

a {
    text-decoration: none;
    color: black;
}

.igName {
    height: 50px;
    width: 150px;
}